<div class="d-flex justify-content-around mt-2">
  <a href="https://web.dragonball-api.com/about" target="_blank">
    <img src="logo_dragonballapi.webp" class="logo" alt="Dragon Ball API" />
  </a>

  <img class="shenron" src="shenron.png" alt="I" />
</div>
<div>
  <p class="text-center" id="hint">
    Hint: click anywhere on a row to view the character details.
  </p>
</div>

<app-filter (filterNameChange)="onFilterNameChange($event)" />
<div class="my-table-container">
  <mat-table [dataSource]="characters" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef class="header-cell">
        ID
      </mat-header-cell>
      <mat-cell *matCellDef="let element" class="data-cell">
        {{ element.id }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef class="header-cell">
        Name
      </mat-header-cell>
      <mat-cell *matCellDef="let element" class="data-cell">
        {{ element.name }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="race">
      <mat-header-cell *matHeaderCellDef class="header-cell">
        Race
      </mat-header-cell>
      <mat-cell *matCellDef="let element" class="data-cell">
        {{ element.race }}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="navigateToDetail(row.id)"
      class="clickable-row"
    ></mat-row>
  </mat-table>

  <div *ngIf="isLoading" class="loading-indicator">
    <p>Loading...</p>
  </div>

  <mat-paginator
    [length]="58"
    [pageSize]="pageSize"
    [pageSizeOptions]="[10]"
    (page)="onPageChange($event)"
    class="my-paginator"
  ></mat-paginator>
</div>

<div class="d-flex justify-content-center mt-5 mb-3">
  <p class="myfont">&copy; 2026 | Developed by Even Becker.</p>
</div>
<!--
<div class="listCharacters">
  <div class="character" *ngFor="let character of characters">
    <span class="name">{{character.name}}</span>
    <button class="btn btn-dark" [routerLink]="['/characters', character.id]">Detail</button>

  </div>
</div>
-->
