.character img{
    max-height: 300px;
}

.my-table-container {
  margin: 6px auto;
  max-width: 620px;
  
  padding: 10px;
}
.clickable-row {
  cursor: pointer;
}
.logo {
  width: 220px;
  height: auto;
  margin: 0.2em;
  
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #e1c143aa);
}
img.shenron{
    height : 10em;
}
#hint{
  font-size: 0.75rem;
}
.myfont{
   font-size: 0.825rem;
   //flex: 1; // not the bootstrap way
    
}