.filter-container {
 
    margin: 6px auto;
  max-width: 420px;
 // padding: 10px;
 
 

}

.filter-label {
  font-weight: 700;
  margin-right: 10px;//10
    font-size: 0.825em;
}

.filter-input {
  padding: 8px;
  border: 1px solid #a0a0a0;
  border-radius: 4px;
  flex: 1;
  min-width: 150px;

  &:focus {
    border-color: orange;
    box-shadow: 0 0 5px rgba(255, 165, 0, 0.5);//rgba(0, 123, 255, 0.5);
    outline: none;
  }
}


