.infosValue {
   color: Firebrick;
   font-size: 1em;
  font-weight: 700;
}
.japan{
  font-weight: 700;
  color: Firebrick;
}
.box{
      width: 100vw;
  height: auto;
 
}
.pic img {
  width: auto;
  height: 400px;

}
#myInfo{
  width: 250px;
}

.min-w{
  width: 34%;
  max-width: 300px;
 // max-height: 364px;
}

.infos-title {
  font-size: 1em;
  font-weight: 700;
  color: hsl(208, 6%, 36%);

}
.height{
min-height: 98vh;//94
background-color: hsl(42, 100%, 96%);
}//48