.infosValue {
   color: Firebrick;
   font-size: 1em;
  font-weight: 700;
}
.box{
      width: 100vw;
  height: auto;
 
}
.pic img {
  width: auto;
  height: 400px;

}
.infos-box {
 
  border: 4px solid Goldenrod;

  background-color: Cornsilk;
  
}

.infos-title {
  font-size: 1em;
  font-weight: 700;
  color: black;

}
